@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(230, 230, 230);
    background-size: 200%;
    margin: 0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #202020;
    text-align: center;
}

h1 {
    font-weight: 750;
    color: #202020;
}

h2 {
    font-weight: 300;
    color: #202020;
    font-style: italic;
}

.baybayin {
    font-family: 'Noto Sans Tagalog', serif;
    color: #202020;
    font-weight: 300;
    font-style: italic;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
}

.section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
    justify-content: start;
    mix-blend-mode: difference;
    position: fixed;
    top: 4rem;
    right: 1rem;
    width: 25%;
    height: 100%;
}

.navitem {
    display: block;
    color: #FFF;
    cursor: pointer;
    font-weight: 400;
    padding-right: 1rem;
    mix-blend-mode: difference;
}

.navbutton {
    position: fixed;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    border: 0;
    right: 0;
}

.navicon {
    color: #FFF;
    cursor: pointer;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    transition: transform 1s ease;
}

.navicon.open {
    transform: perspective(1000px) rotateY(180deg);
    transition: transform 1.25s ease;
}

.hidden-nav {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(200%);
    transition: all 4s ease;
}

.visible-nav {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s ease;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.bracket-span2 {
    display: none;
}

.bracket-hover {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 100%
}

@media only screen and (max-width: 700px) {
    a {
        font-size: .75rem;
    }
}

@media only screen and (min-width: 700px) and (hover: hover) {
    .bracket-span {
        display: inline-block;
        white-space: nowrap;
        will-change: transform
    }

    .bracket-span2 {
        display:inline-block
    }

    .bracket-left,.bracket-right {
        display: inline-block;
        transition: transform 1.5s cubic-bezier(.16,1,.3,1);
        will-change: transform
    }

    .bracket-span2 {
        position: absolute;
        transform: translateX(-105%) translateY(-100%)
    }

    .bracket-span1,.bracket-span2 {
        transition: transform 1.5s cubic-bezier(.16,1,.3,1)
    }

    .bracket-hover:hover .bracket-left {
        transform: translateX(-150%);
        font-weight: 700;
    }

    .bracket-hover:hover .bracket-right {
        transform: translateX(150%);
        font-weight: 700;
    }

    .bracket-hover:hover .bracket-span1 {
        transform: translateY(100%);
        font-weight: 700;
    }

    .bracket-hover:hover .bracket-span2 {
        transform: translateX(-105%) translateY(0);
        font-weight: 700;
    }
}

#about {
    padding-top: 5rem;
}